extends layout

block content
    h1 Student Details
    .student-details
        div
            strong Student: 
            | #{student.name}
        div
            strong Programme: 
            | #{student.programme}
    if modules.length > 0
        h2 Modules
        table(border="1")
            tr
                th Module Code
                th Module Name
            each mod in modules
                tr
                    td #{mod.module}
                    td #{mod.name}
    else
        p No modules found for this student.